<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Purchased Ingredients</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
  <!-- <link rel="stylesheet" href="assets/css/styles.css" /> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
  <script type="text/javascript" src="/js/purchased.js"></script>

</head>

<body>

  <title>Purchasing</title>
  {{> navbarPurchasing}} 

  <div class="bg-light p-3" style="height: 100vh;">
    <div class="card border-3 " style="border-bottom-color: #0d6efd">
      <div class="card-body rounded ">
        <h3 class="text-secondary">Purchased Ingredients</h3>
        <form class="col">

          <div class="row">
            <label for="exampleInputEmail1" style="width: 180px" class="form-label ">Purchased Ingredient</label>
            <select
            class="form-select "
            name="purchasedIngredient"
            required
            style="width: 200px"
            >
            <option selected>Choose...</option>
            {{#each purchasedIngredients}}
            <option id="purchasedIngredient" value="{{{purchasedIngredientName}}}">{{purchasedIngredientName}}</option>
            {{/each}}
          </select>

          <label for="exampleInputPassword1" style="width: 70px" class="form-label">Count</label>
          <input type="number" class=" form-control" style="width: 80px" min="0" name="qty" id="qty">

          <button type="submit" class=" btn btn-primary col-1 ms-3" id="purchase">Purchase</button>
        </div>
      </form>

    </div>
  </div>


  <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-body overflow-auto rounded" style="height: 75vh">


        <div class="table-responsive rounded">
          <table class="table overflow-auto table-hover table-hover">
            <thead>
              <tr class="bg-secondary bg-linear-gradien, text-light">
                <th class="text-center">Name</th>
                <th class="text-center">System Ingredient</th>
                <th class="text-center">Quantity per Stock</th>
                <th class="text-center">Unit Of Measurement</th>
                <th class="text-center">Quantity</th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each purchasedIngredients}}
              <tr>
                <td>{{ingredient.ingredientName}}</td>
                <td class="text-center">{{purchasedIngredientName}}</td>
                <td class="text-center">{{quantityPerStock}}</td>
                <td class="text-center">{{uom.abbrev}}</td>
                <td class="text-center">{{uom.abbrev}}</td>
              </tr>
              {{/each}}


            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>


</body>

</html>
